.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 25vh; /* Set height to 25vh by default */
}

@media only screen and (max-width: 600px) {
  .button-container {
    grid-template-columns: repeat(2, 1fr);
    height: auto; /* Reset height to auto for mobile devices */
  }
}

.button-container button {
  width: 100%;
  height: 50px;
  font-size: 16px;
}